<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Your Website{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Your Website</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('forum') }}">Forum</a></li>
                <li><a href="{{ url_for('about_me') }}">About Me</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('tools') }}">Tools</a></li>
                <li><a href="{{ url_for('features') }}">Features</a></li>
                <li><a href="{{ url_for('youtube_downloader') }}">YouTube MP4 Downloader</a></li>
                <li><a href="{{ url_for('chatbot') }}">Chatbot (w/ ChatGPT API)</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>
</body>

</html>